nav a {
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  color: rgb(198, 222, 255);
  text-transform: uppercase;
}

nav a.active {
  font-weight: bold;
}

nav a:hover{
  color: white;
  text-decoration: none;
}

nav {
  background-color: rgba(18,71,125);
}